@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --breakpoint-sm: "600px",
  --breakpoint- md: "728px",
  --breakpoint-lg: "984px",
  --breakpoint-xl: "1240px",
  --breakpoint-2xl: "1496px",
  --color-secondary: #666666;
  --color-accent: #ffca3b;
  --color-border: #d7d7d7;
  --shadow-default: 0 4px 54px 10px rgba(18, 19, 21, 0.6);
}


.container{
  @apply mx-auto flex items-center px-4;
}
/* h1,h2,h3,h4,h5,h6{
  @apply text-primary font-primary;
} */
.h1{
  @apply text-[40px] xl:text-[54px] uppercase font-black leading-[1.1];
}
.h2{
  @apply text-[36px] xl:text-[46px] leading-[1.3] xl:leading-[56px] capitalize font-bold;
}
.h3{
  @apply  font-bold text-3xl;
}
.h4{
  @apply text-2xl font-semibold;
}
