@import "tailwindcss";
@plugin "tailwindcss-animate";


@theme {
  --breakpoint-sm: "600px",
  --breakpoint- md: "728px",
  --breakpoint-lg: "984px",
  --breakpoint-xl: "1240px",
  --breakpoint-2xl: "1496px",
  --color-primary: #121315;
  --color-secondary: #666666;
  --color-accent: #ffca3b;
  --color-border: #d7d7d7;
  --shadow-default: 0 4px 54px 10px rgba(18, 19, 21, 0.6);
}

@layer base {
  :root {
    --container-center: true;
    --container-padding: 1rem;
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}
